<ion-view style="" class=" " id="page13" title="Tentang Developer">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
              <div class="user-heading round">
                  <img  src="img/lingga.jpg">
                <p style="color: #000;">Nama: Lingga Adi Pratama<br>
                                          Nim: 3311501039<br>
                   Github:retry0<br>
                Job : Backend Developer<br>
                Motto: I help people use programming<br>
               </p>
                </div>
          </div>
        </div>

        <br/>




      </ion-list>





    </ion-content>
</ion-view>
